* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E0E0E;
}


.main_wraper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 0;
}

/* header */


header {
    display: flex;
    justify-content: center;
}

.header_wraper {
    display: flex;
    justify-content: space-between;
    width: 840px;
    padding: 20px 0;
    align-items: center;
}

.link_box {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.link {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.link:hover {
    color: #fff;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.title_span {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.title_b {
    color: #aa0000;
}

.acaunt_box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid #A00;
}

.acaunt_span {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* mainn */
main {
    display: flex;
    justify-content: center;
}

.main_wraper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    max-width: 840px;
    width: 100%;
}

.batmen_history {
    width: 100%;
    height: 471px;
    border-radius: 16px;
    background-image: url(../img/batmen.png), url(../img/backgraundi.png);
    background-size: 370px 472x, 100%;
    background-position: right, center;
    background-repeat: no-repeat;
    padding: 20px;
}

.badman_story_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 355px;
    height: 400px;
}

.star {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.qvesatauri {
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.star_conteiner {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.badman_story_box>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.watch {
    border-radius: 8px 32px;
    background: #A00;
    box-shadow: 5px 2px 11px 0px #A00;
    text-align: center;
    padding: 12px 24px;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 135px;
    border: 0;
}

.serch_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.serch_div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.serch_div>input {
    border-radius: 24px;
    background: #191919;
    width: 269px;
    padding: 8px 16px;
    gap: 10px;
}

.serch_div>input::placeholder {
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.serch_div>input:hover {
    border: 1px solid #A00;
    color: #fff;
}

.serch_div>select {
    padding: 8px 12px;
    gap: 10px;
    border-radius: 24px;
    background: #191919;
    border: 0;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.watch_box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.movie {
    width: 192px;
    border-radius: 16px;
}

.nav_img {
    display: none;
    width: 24px;
    height: 24px;
}