@media screen and (min-width: 320px) and (max-width: 767px) {
    .nav_img {
        display: inline;
    }

    .link_box {
        display: none;
    }

    .header_wraper {
        padding: 16px;
    }

    .acaunt_span {
        display: none;
    }

    .main_wraper {
        width: 288px;
    }

    .qvesatauri {
        width: 260px;
    }

    .star_conteiner {
        width: 233px;
    }

    .star_img {
        width: 20px;
        height: 20px;
    }

    .serch_div {
        flex-wrap: wrap;
    }

    .serch_div>select {
        width: 130px;
    }

    .movie {
        width: 100%;
        height: 219px;
    }
}